<!DOCTYPE html>
<html>
<head>
    <title>Flask App</title>
</head>
<body>
    <h2>Welcome to YourJournal</h2>
    <p>A quick and easy way to Journal</p>
    <p>To login into your Journal, Enter your Username and Password</p>
    <form method="POST" action="/submit" >
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="username">
        </label for="password">Password:</label>
        <input type="text" id="password" name="password" placeholder="password">
        <button type="submit">Login</button>
     </form>
    
</body>
</html>